<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sx.ybj.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.sx.ybj.pojo.Activity" >
    <id column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="notebook_id" property="notebookId" jdbcType="INTEGER" />
    <result column="activity_time" property="activityTime" jdbcType="TIMESTAMP" />
    <result column="activity_content" property="activityContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    activity_id, activity_name, notebook_id, activity_time, activity_content
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sx.ybj.pojo.ActivityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where activity_id = #{activityId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sx.ybj.pojo.ActivityExample" >
    delete from activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sx.ybj.pojo.Activity" >
    insert into activity (activity_id, activity_name, notebook_id, 
      activity_time, activity_content)
    values (#{activityId,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR}, #{notebookId,jdbcType=INTEGER}, 
      #{activityTime,jdbcType=TIMESTAMP}, #{activityContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sx.ybj.pojo.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="notebookId != null" >
        notebook_id,
      </if>
      <if test="activityTime != null" >
        activity_time,
      </if>
      <if test="activityContent != null" >
        activity_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="notebookId != null" >
        #{notebookId,jdbcType=INTEGER},
      </if>
      <if test="activityTime != null" >
        #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityContent != null" >
        #{activityContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sx.ybj.pojo.ActivityExample" resultType="java.lang.Integer" >
    select count(*) from activity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update activity
    <set >
      <if test="record.activityId != null" >
        activity_id = #{record.activityId,jdbcType=INTEGER},
      </if>
      <if test="record.activityName != null" >
        activity_name = #{record.activityName,jdbcType=VARCHAR},
      </if>
      <if test="record.notebookId != null" >
        notebook_id = #{record.notebookId,jdbcType=INTEGER},
      </if>
      <if test="record.activityTime != null" >
        activity_time = #{record.activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.activityContent != null" >
        activity_content = #{record.activityContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update activity
    set activity_id = #{record.activityId,jdbcType=INTEGER},
      activity_name = #{record.activityName,jdbcType=VARCHAR},
      notebook_id = #{record.notebookId,jdbcType=INTEGER},
      activity_time = #{record.activityTime,jdbcType=TIMESTAMP},
      activity_content = #{record.activityContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sx.ybj.pojo.Activity" >
    update activity
    <set >
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="notebookId != null" >
        notebook_id = #{notebookId,jdbcType=INTEGER},
      </if>
      <if test="activityTime != null" >
        activity_time = #{activityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="activityContent != null" >
        activity_content = #{activityContent,jdbcType=VARCHAR},
      </if>
    </set>
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sx.ybj.pojo.Activity" >
    update activity
    set activity_name = #{activityName,jdbcType=VARCHAR},
      notebook_id = #{notebookId,jdbcType=INTEGER},
      activity_time = #{activityTime,jdbcType=TIMESTAMP},
      activity_content = #{activityContent,jdbcType=VARCHAR}
    where activity_id = #{activityId,jdbcType=INTEGER}
  </update>
</mapper>