<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sx.ybj.mapper.CategorizeMapper" >
  <resultMap id="BaseResultMap" type="com.sx.ybj.pojo.Categorize" >
    <id column="categorize_id" property="categorizeId" jdbcType="INTEGER" />
    <result column="categorize_name" property="categorizeName" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="categorize_state" property="categorizeState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    categorize_id, categorize_name, user_id, categorize_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sx.ybj.pojo.CategorizeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from categorize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from categorize
    where categorize_id = #{categorizeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from categorize
    where categorize_id = #{categorizeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sx.ybj.pojo.CategorizeExample" >
    delete from categorize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sx.ybj.pojo.Categorize" >
    <selectKey resultType="java.lang.Integer" keyProperty="categorizeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into categorize (categorize_name, user_id, categorize_state
      )
    values (#{categorizeName,jdbcType=CHAR}, #{userId,jdbcType=INTEGER}, #{categorizeState,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sx.ybj.pojo.Categorize" >
    <selectKey resultType="java.lang.Integer" keyProperty="categorizeId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into categorize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categorizeName != null" >
        categorize_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="categorizeState != null" >
        categorize_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categorizeName != null" >
        #{categorizeName,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="categorizeState != null" >
        #{categorizeState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sx.ybj.pojo.CategorizeExample" resultType="java.lang.Integer" >
    select count(*) from categorize
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update categorize
    <set >
      <if test="record.categorizeId != null" >
        categorize_id = #{record.categorizeId,jdbcType=INTEGER},
      </if>
      <if test="record.categorizeName != null" >
        categorize_name = #{record.categorizeName,jdbcType=CHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.categorizeState != null" >
        categorize_state = #{record.categorizeState,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update categorize
    set categorize_id = #{record.categorizeId,jdbcType=INTEGER},
      categorize_name = #{record.categorizeName,jdbcType=CHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      categorize_state = #{record.categorizeState,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sx.ybj.pojo.Categorize" >
    update categorize
    <set >
      <if test="categorizeName != null" >
        categorize_name = #{categorizeName,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="categorizeState != null" >
        categorize_state = #{categorizeState,jdbcType=INTEGER},
      </if>
    </set>
    where categorize_id = #{categorizeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sx.ybj.pojo.Categorize" >
    update categorize
    set categorize_name = #{categorizeName,jdbcType=CHAR},
      user_id = #{userId,jdbcType=INTEGER},
      categorize_state = #{categorizeState,jdbcType=INTEGER}
    where categorize_id = #{categorizeId,jdbcType=INTEGER}
  </update>
</mapper>