<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sx.ybj.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.sx.ybj.pojo.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="user_nickname" property="userNickname" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="CHAR" />
    <result column="user_picture" property="userPicture" jdbcType="CHAR" />
    <result column="user_regdate" property="userRegdate" jdbcType="DATE" />
    <result column="enabled" property="enabled" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, username, user_nickname, password, user_email, user_picture, user_regdate, 
    enabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sx.ybj.pojo.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sx.ybj.pojo.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sx.ybj.pojo.User" >
    insert into user (user_id, username, user_nickname, 
      password, user_email, user_picture, 
      user_regdate, enabled)
    values (#{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userNickname,jdbcType=CHAR}, 
      #{password,jdbcType=VARCHAR}, #{userEmail,jdbcType=CHAR}, #{userPicture,jdbcType=CHAR}, 
      #{userRegdate,jdbcType=DATE}, #{enabled,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sx.ybj.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userPicture != null" >
        user_picture,
      </if>
      <if test="userRegdate != null" >
        user_regdate,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=CHAR},
      </if>
      <if test="userPicture != null" >
        #{userPicture,jdbcType=CHAR},
      </if>
      <if test="userRegdate != null" >
        #{userRegdate,jdbcType=DATE},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sx.ybj.pojo.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userNickname != null" >
        user_nickname = #{record.userNickname,jdbcType=CHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null" >
        user_email = #{record.userEmail,jdbcType=CHAR},
      </if>
      <if test="record.userPicture != null" >
        user_picture = #{record.userPicture,jdbcType=CHAR},
      </if>
      <if test="record.userRegdate != null" >
        user_regdate = #{record.userRegdate,jdbcType=DATE},
      </if>
      <if test="record.enabled != null" >
        enabled = #{record.enabled,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set user_id = #{record.userId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      user_nickname = #{record.userNickname,jdbcType=CHAR},
      password = #{record.password,jdbcType=VARCHAR},
      user_email = #{record.userEmail,jdbcType=CHAR},
      user_picture = #{record.userPicture,jdbcType=CHAR},
      user_regdate = #{record.userRegdate,jdbcType=DATE},
      enabled = #{record.enabled,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sx.ybj.pojo.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=CHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=CHAR},
      </if>
      <if test="userPicture != null" >
        user_picture = #{userPicture,jdbcType=CHAR},
      </if>
      <if test="userRegdate != null" >
        user_regdate = #{userRegdate,jdbcType=DATE},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sx.ybj.pojo.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      user_nickname = #{userNickname,jdbcType=CHAR},
      password = #{password,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=CHAR},
      user_picture = #{userPicture,jdbcType=CHAR},
      user_regdate = #{userRegdate,jdbcType=DATE},
      enabled = #{enabled,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>